.btn-default
	{
	font-size:20px;
	}
.logo
	{
	padding-bottom:20px;
	}
.header
	{
	margin-top:10px;
	margin-bottom:15px;
	}
.nav-pills>li>a {
    border-radius: 0px;
}
.panel-default > .panel-heading
	{
	background-color: #059EC8;
	color:#fff;
	font-weight: bold;
	}
.bigimage
	{
	margin-bottom: 10px;
	}
.image
	{
	width:100%;
	}
.navigation
	{
	margin-bottom: 10px;
	min-height:40px;
	}
ul.nav
	{
	background-color:#E7E7E7;
	}
.breadcrumb
	{
	background-color: transparent; 
	margin-bottom:0px;
	font-weight: bold;
	}	
	
#navbarCollapse{
padding:0px;
}
nav>.container{
max-width:1200px;
background-color:#fff;
padding-right:0px;
padding-left:0px;
width:100%;
}
.navbar-default .navbar-nav>li>a {
 color: #666666;
 font-weight: 600;
 font-size: 13px;
}
#myNavbar{
max-width: 1200px;
width: 100%;
border: none;
position:relative;
margin-bottom: 15px;
}
.navbar-default .navbar-nav>.active>a, .navbar-default .navbar-nav>.active>a:focus, .navbar-default .navbar-nav>.active>a:hover{
background-image: none;
color:#FFF;
background-color:#DE4989;
   }
li.active>a{
 background-image: none;
 background-color: #DE4989;
 color: white;
}
li>a{
color:#666666;
font-weight:600;
font-size:13px;
}
.navbar-default .navbar-nav>li>a:focus, .navbar-default .navbar-nav>li>a:hover{
 background-image: none;
 background-color: #DE4989;
 color: white;
}
.nav>li>a:focus, .nav>li>a:hover{
 background-image: none;
 background-color:#049CC5;
 color:white;
}
.main_wrapper{
 max-width: 1200px;
 margin-right: auto;
 margin-left: auto;
 background-color: #f0f0f0;
}